@charset "UTF-8";
.s-order {
  margin-left: 0;
  margin-right: 0;
  max-width: 1148px; }
  .s-order .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .s-order .flex-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }
  .s-order h1 {
    padding-left: 21px;
    margin-bottom: 50px; }
  .s-order .total-order,
  .s-order .order-number {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 29px; }
  .s-order .textarea-wrapper {
    padding: 28px 20px; }
    .s-order .textarea-wrapper .wishes-to-order {
      padding: 9px;
      width: 100%;
      height: 100px;
      resize: none;
      border-radius: 4px;
      border: 1px solid #c3c3c3; }
  .s-order .order-priсe .btn-warning {
    padding: 0 8px; }
  .s-order .order-priсe tr {
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3; }
    .s-order .order-priсe tr:nth-child(1) {
      border-top: none;
      font-weight: 600; }
    .s-order .order-priсe tr:nth-last-of-type(1) {
      border-bottom: none; }
    .s-order .order-priсe tr td {
      border-top: none;
      vertical-align: middle; }
      .s-order .order-priсe tr td:nth-child(1) {
        padding-left: 19px; }
      .s-order .order-priсe tr td:nth-child(3) {
        text-align: center; }
      .s-order .order-priсe tr td:nth-child(2) {
        text-align: center;
        width: 91px; }
      .s-order .order-priсe tr td:nth-last-of-type(1) {
        text-align: right;
        padding-right: 19px; }
      .s-order .order-priсe tr td span {
        padding: 0 10px; }
        @media screen and (max-width: 1200px) {
          .s-order .order-priсe tr td span {
            padding: 0 3px; } }
  .s-order .block-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .s-order .order-final-priсe tr {
    padding: 7px 19px; }
    .s-order .order-final-priсe tr:nth-child(1) {
      border-top: 1px solid #c3c3c3; }
    .s-order .order-final-priсe tr:nth-child(2) {
      vertical-align: bottom; }
    .s-order .order-final-priсe tr td {
      border-top: none; }
      .s-order .order-final-priсe tr td:nth-child(1) {
        padding-left: 19px; }
      .s-order .order-final-priсe tr td:nth-child(2) {
        text-align: center; }
      .s-order .order-final-priсe tr td:nth-child(3) {
        text-align-last: right;
        padding-right: 19px; }
  .s-order .order-final-priсe .total-price {
    font-size: 18px;
    font-weight: 600; }
  .s-order .to-pay {
    margin: 0 20px 28px; }
    @media screen and (max-width: 469px) {
      .s-order .to-pay {
        text-align: center; } }
    .s-order .to-pay .btn-warning {
      padding: 11px 17px; }
      @media screen and (max-width: 1199px) {
        .s-order .to-pay .btn-warning {
          float: none !important;
          margin-left: auto;
          margin-right: auto; } }
  .s-order .pay-check {
    border: solid 1px #3c8dbc;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    font-size: 13px;
    margin-right: 26px;
    margin-bottom: 15px; }
    @media screen and (max-width: 1200px) {
      .s-order .pay-check {
        margin-right: 10px; } }
  .s-order .categories-menu {
    margin-bottom: 18px; }
    .s-order .categories-menu .btn-primary {
      background-color: #3c8dbc; }
      .s-order .categories-menu .btn-primary:hover {
        background-color: #367fa9; }
    .s-order .categories-menu button {
      margin-bottom: 10px;
      text-decoration: underline;
      margin-right: 15px;
      padding: 14px 20px; }
      @media screen and (max-width: 446px) {
        .s-order .categories-menu button:nth-child(2), .s-order .categories-menu button:nth-child(3) {
          display: none; } }
      @media screen and (max-width: 1200px) {
        .s-order .categories-menu button {
          padding: 8px 10px; } }
      .s-order .categories-menu button:nth-last-child(1) {
        margin-right: 0;
        padding: 9px; }
        @media screen and (max-width: 1200px) {
          .s-order .categories-menu button:nth-last-child(1) {
            padding: 4px; } }
  .s-order .right-site-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .s-order .position-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 120px;
    width: calc(100%/3 - 10px);
    margin-bottom: 28px;
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 4px; }
    @media screen and (max-width: 992px) {
      .s-order .position-item {
        width: calc(100%/2 - 10px); } }
    .s-order .position-item p {
      text-align: center;
      padding-top: 7px;
      padding-bottom: 10px;
      padding-left: 6px;
      padding-right: 6px; }
    .s-order .position-item img {
      width: 100%;
      margin-top: auto; }
