$gray-text-color: #c3c3c3;
$blue-color: #3c8dbc;
$hover-blue-color: #367fa9;
$orange-color: #ec971f;
$border-radius: 4px;
$border: 1px solid $gray-text-color;
$fz-16: 16px;
$fz-17: 17px;
$h1-fz: 31px;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

.s-order {
  font-size: $fz-16;
  margin-left: 0;
  margin-right: 0;
  max-width: 1148px;
  .flex-container {
    display: flex;
    @include max-screen(768px) {
      flex-direction: column-reverse;
    }
  }
  h1 {
    padding-top: 2px;
    // letter-spacing: 2;
    font-size: $h1-fz;
    font-weight: 600;
    padding-left: 21px;
    padding-bottom: 27px;
    // @media (max-width: @screen-sm-max) {
    //   margin-bottom: 0;
    // }
  }
  .left-side-block, .order-menu {
    @include min-screen(1300px) {
      min-width: 590px;
    }
  }
  .order-number {
    min-height: 441px;
  }
  .total-order,
  .order-number {
    background-color: #fff;
    border: $border;
    border-radius: $border-radius;
    width: 100%;
    margin-bottom: 29px;
  }
  .total-order {
    margin-bottom: 10px;
  }
  .textarea-wrapper {
    padding: 28px 20px;
    padding-bottom: 20px;
    .wishes-to-order {
      // margin: 28px 20px;
      padding: 9px;
      padding-top: 4px;
      letter-spacing: 0.2px;
      width: 100%;
      height: 100px;
      resize: none;
      border-radius: $border-radius;
      border: $border;
    }
  }
  .order-priсe {
    .btn-warning {
      padding: 0 8px;
    }
    tr {
      // padding: 7px 19px;
      // text-align: center;
      border-top: $border;
      border-bottom: $border;

      &:nth-child(1) {
        border-top: none;
        font-weight: 600;
      }
      &:nth-last-of-type(1) {
        border-bottom: none;
      }
      td {
        border-top: none;
        vertical-align: middle;
        line-height: 28px;
        &:nth-child(1) {
          width: 42%;
          padding-left: 19px;
        }
        &:nth-child(2) {
          text-align: center;
          width: 91px;
        }
        &:nth-child(3) {
          width: 20%;
          text-align: center;
        }
        &:nth-last-of-type(1) {
          width: 17%;
          text-align: right;
          padding-right: 19px;
        }
        span {
          padding: 0 15px;
          @include max-screen(1200px) {
            padding: 0 3px;
          }
        }
      }
    }
  }
  .block-add {
    display: flex;
    input {
    }
  }
  .order-final-priсe {
    margin-bottom: 10px;
    tr {
      padding: 7px 19px;
      &:nth-child(1) {
        border-top: $border;
      }
      td {
        width: 33.3%;
        line-height: 30px;
        border-top: none;
        &:nth-child(1) {
          padding-left: 19px;
        }
        &:nth-child(2) {
          text-align: center;
        }
        &:nth-child(3) {
          text-align: right;
          padding-right: 19px;
        }
      }
    }
    .total-price {
      font-size: 23px;
      font-weight: 600;
    }
  }

  .to-pay {
    margin: 0 20px 15px;
    @include max-screen(469px) {
      text-align: center;
    }
    .btn-warning {
      font-size: $fz-17;
      padding: 11px 22px;
      @include max-screen(1199px) {
        float: none !important;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .pay-check {
    // position: relative;
    border: solid 1px $blue-color;
    border-radius: $border-radius;
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    font-size: 13px;
    margin-right: 26px;
    margin-bottom: 15px;
    @include max-screen(1200px) {
      margin-right: 10px;
    }
    // &:nth-child(3) {
    //   margin-right: 0;
    // }
    // i.fa {
    //   position: absolute;
    //   z-index: 2;
    //   &:nth-child(1),
    //   &:nth-child(3) {
    //     &::after {

    //       content: "";
    //       width: 27px;
    //       height: 27px;
    //       background-color: $blue-color;
    //       border-radius: 50%;
    //       top: 10%;
    //       right: 25%;
    //       z-index: 1;
    //     }
    //   }
    // }
  }


  .categories-menu {
    margin-bottom: 18px;
    .btn-primary {
      background-color: $blue-color;
      &:hover {
        background-color: $hover-blue-color;
        // transition: all 0.3s;
      }
    }
    button {
      margin-bottom: 10px;
      font-size: $fz-17;
      @include max-screen(492px) {
        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }
      text-decoration: underline;
      margin-right: 14px;
      padding: 11px 19px;
      @include max-screen(1200px) {
        padding: 8px 10px;
      }
      &:nth-last-child(1) {
        margin-right: 0;
        padding: 9px;
        @include max-screen(1200px) {
          padding: 4px;
        }
      }
    }
  }
  .right-site-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .position-item {
    display: flex;
    flex-direction: column;
    min-width: 120px;
    width: calc(100% / 3 - 10px);
    @include max-screen(992px) {
      width: calc(100% / 2 - 10px);
    }
    margin-bottom: 22px;
    background-color: #fff;
    border: $border;
    border-radius: $border-radius;
    p {
      text-align: center;
      padding-top: 9px;
      line-height: 10px;
      // padding-bottom: 1px;

      padding-left: 6px;
      padding-right: 6px;
    }
    img {
      border-top: $border;
      width: 100%;
      // height: 100%;
      margin-top: auto;
    }
  }
}
